@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: black;
}
.all-section{
    display: flex;
    flex-direction:row;
}
img{
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    margin-left: 18rem;
}
.loginFirst{
    width: 375px;
    height: 812px;
    background-color:#FFFFFF;
    margin: 4rem;
    margin-left: 5rem;

}
.logo{
    background-color: #FFFC00;
    width: 375px;
    height: 88px;
    padding-top: 15px;
}
.welcome{
    width: 174px;
    height: 28px;
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 101px;
    font-family: 'Playfair Display';
    text-align: center;

}
.via-google{
    background-color: #000000;
    width:200px;
    height: 48px;
    margin-left: 85px;
    border-radius: 50px;
    margin-top:2rem;

}
.via-google-second{
    color: #FFFC00;
    text-align: center;
    font-size: 18px;
    padding-top:  1rem;
}
.Trouble{
    text-align: center;
    margin-top: 2rem;
    font-size: 14px;
}
.or{
    color: #BBBBBB;
    font-size: 16px;
    margin-top: 2rem;
    text-align: center;
}
input{
border-style:hidden;
margin-left: 2rem;
margin-top: 2rem;
}
.horizontal-line{
 width: 8em;
 height: 1px;
 background-color: #000000;
 padding-right: 10rem;
}
.forget{
    color:#0D46D9;
    font-size: 12px;
    margin-left: 16rem;
    margin-top: 2rem;
}
.log-in{
    background-color: #BBBBBB;
    width:200px;
    height: 48px;
    margin-left: 85px;
    border-radius: 50px;
    margin-top:2rem;
}
.log-in-second{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding-top:  1rem;
}
.sign-up{
    margin-left:6rem;
    font-size: 12px;
    margin-top: 2rem;

}
.account{
    color:
    #626262
    ;
}
.log-in-color{
    background-color: 
    #FFFC00;
    width:200px;
    height: 48px;
    margin-left: 85px;
    border-radius: 50px;
    margin-top:2rem;
}
.log-in-second-color{
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding-top:  1rem;  
}